#include('../template/head.html')
	<title>Home</title>
	<meta name="description" content="">
</head>
    <body>


        <h1>Home</h1>
        <h2>page</h2>

        #include('../template/nav.html')

        <p>
            <img src="../img/logo-yahoo.png" alt="yahoo">
        </p>

       <i class="iconfont icon-weixin"></i>

       <p>
         <img src="../img/flickr.jpg" alt="flickr">
       </p>

		#include('../template/script.html')
    </body>
    #include('../template/statistics.html')
</html>

