<!-- Layout 母模板 -->
<% extend('../template/layout.art') %>


<!-- 标题 -->
<% block('title', function(){ %>Home<% }) %>

<!-- 描述 -->
<% block('description', function(){ %>这是一个首页<% }) %>

<!-- CSS & JS -->
<% block('head', function(){ %>
<link href="/css/common.css?v=2017" rel="stylesheet">
<% }) %>

<!-- body -->
<% block('content', function(){ %>
  <% include('../template/nav.art') %>
  <h1>Home</h1>



  <h2>图片引入</h2>
  <p>
    <img src="../img/logo-yahoo.png" alt="yahoo">
  </p>
  <p>
    <img src="/img/flickr/flickr.jpg" alt="flickr">
  </p>

  <h2>Iconfont 引入</h2>
  <i class="iconfont icon-weixin"></i>


  <h2>Dialog组件</h2>
  <a id="btnDialog" href="javascript:;">试一下</a>
   <ol>
     <li>{{tit}}</li>
   </ol>

   <h2>Toast组件</h2>
  <a id="btnToast" href="javascript:;">试一下</a>


<% }) %>

